---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Logo from "@/assets/logo_horizontal.png";
import { EventSection } from "@/components/events/EventSection.tsx";
import { allEvents } from "@/data/events.ts";
import { VideoSection } from "@/components/videos/VideoSection.tsx";
import { allVideos } from "@/data/videos.ts";
import { SetSection } from "@/components/sets/SetSection";
import { GenreSection } from "@/components/genres/GenreSection.tsx";
---

<Layout>
  <div class="bg-black">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-64">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div
            class="relative rounded-full px-3 py-1 text-sm/6 text-neutral-400 font-extralight ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            New incoming event
            <a href="#" class="font-semibold text-cyan-400 hover:text-cyan-300">
              <span class="absolute inset-0" aria-hidden="true"></span>
              Read more
              <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
        <div class="text-center">
          <Image alt="floatingpoint." src={Logo} width:100% loading="lazy" />
          <span class="sr-only">floatingpoint.</span>
          <p
            class="mt-8 text-lg font-normal italic text-pretty text-neutral-400 sm:text-xl/8"
          >
            Our passion is in the art of sound, driven by deep connections
            through immersive sonic landscapes.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href="#"
              class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-neutral-200 shadow-xs hover:outline-2 hover:outline-offset-2 hover:outline-cyan-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-400"
            >
              NAV 1
            </a>
            <a
              href="#"
              class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-neutral-200 shadow-xs hover:outline-2 hover:outline-offset-2 hover:outline-cyan-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-400"
              >NAV <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
      </div>

      <div class="absolute inset-0 -z-10 pointer-events-none overflow-hidden">
        <!-- Background: Light 1 (Orbit | Blur) -->
        <div
          class="absolute top-1/2 left-1/2 w-5xl h-[338px] -translate-x-1/2 -translate-y-1/2 blur-3xl pointer-events-none"
          style="animation: bg-orbit-clockwise 30s linear infinite normal;"
          aria-hidden="true"
        >
          <!-- Background: Light 1 (Gradient | Clip-path) -->
          <div
            class="absolute inset-0 bg-linear-to-tr from-cyan-100 to-cyan-700 opacity-30"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
        </div>

        <!-- Background: Light 2 (Orbit | Blur) -->
        <div
          class="absolute top-1/2 left-1/2 w-5xl h-[338px] -translate-x-1/2 -translate-y-1/2 blur-3xl pointer-events-none"
          style="animation: bg-orbit-clockwise 30s linear infinite normal; animation-delay: -15s;"
          aria-hidden="true"
        >
          <!-- Background: Light 2 (Gradient | Clip-path) -->
          <div
            class="absolute inset-0 bg-linear-to-tr from-cyan-100 to-cyan-700 opacity-30"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <GenreSection client:load />
  <EventSection displayMode="carousel" events={allEvents} client:visible />
  <VideoSection displayMode="grid" videos={allVideos} client:visible />
  <SetSection displayMode="carousel" client:idle />
</Layout>
